 body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://thumbs.dreamstime.com/b/money-background-close-up-lots-new-us-dollar-bills-58726548.jpg);
}

 .form-container {
    background-color: #c4c2c2ad;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

 .form-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

 .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    color: #555;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

 .form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

 .form-container pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: monospace;
    text-align: left;
}
